@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_JangoLayout.cshtml";
}


<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
<section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
    <div class="tp-banner-container c-theme">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <!--BEGIN: SLIDE #1 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                    <img 
                        alt="" 
                        src="@Url.Content("~/Content/images/Photos/happy_birthday_cake_.jpg")"
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat"
                    >   
                    <div class="tp-caption customin customout"
                         data-x="center" 
                         data-y="center"
                         data-hoffset="" 
                         data-voffset="-50"
                         data-speed="500" 
                         data-start="1000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" 
                         data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-elementdelay="0.1" 
                         data-endelementdelay="0.1" 
                         data-endspeed="600">
                        <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block" style="text-shadow: 2px 2px rgba(0,0,0,0.5);">
                            Etkinlik hediyelerinizi<br>hesabınızda toplayın.
                        </h3>
                    </div>
                    <div class="tp-caption lft"
                         data-x="center"
                         data-y="center" 
                         data-voffset="110"
                         data-speed="900" 
                         data-start="2000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" 
                         data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" >
                        <a href="@Url.Action("Index","Event")" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-white c-btn-uppercase">Hemen Başla</a>
                    </div>
                </li>
                <!--END -->  

                <!--BEGIN: SLIDE #2 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                    <img 
                        alt="" 
                        src="@Url.Content("~/Content/images/Photos/cute_baby_boy_green_eyes-3840x2160.jpg")"
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat"
                    >   
                    <div class="tp-caption customin customout"
                         data-x="center" 
                         data-y="center"
                         data-hoffset="" 
                         data-voffset="-50"
                         data-speed="500" 
                         data-start="1000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" 
                         data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-elementdelay="0.1" 
                         data-endelementdelay="0.1" 
                         data-endspeed="600">
                        <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block" style="text-shadow: 2px 2px rgba(0,0,0,0.5);">
                            İhtiyaçlarınızı listeleyin,<br>eksikleri kolayca görün.
                        </h3>
                    </div>
                    <div class="tp-caption lft"
                         data-x="center"
                         data-y="center" 
                         data-voffset="110"
                         data-speed="900" 
                         data-start="2000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;" 
                         data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
                        <a href="@Url.Action("Index","Event")" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">Hemen Başla</a>
                    </div>
                </li>
                <!--END -->  

                <!--BEGIN: SLIDE #3 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="700" data-delay="6000" data-thumb="">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img 
                        alt="" 
                        src="@Url.Content("~/Content/images/Photos/stock-photo-beautiful-wedding-couple-is-enjoying-wedding-127850174.jpg")"
                        data-bgposition="center center" 
                        data-bgfit="cover" 
                        data-bgrepeat="no-repeat"
                        class="visible-xs"
                    />  

                    <div class="rs-background-video-layer"
                         data-forcerewind="on" 
                         data-volume="mute" 
                         data-videowidth="100%" 
                         data-videoheight="100%" 
                         data-videomp4="../../assets/base/media/video/video-2.mp4" 
                         data-videopreload="preload" 
                         data-videoloop="none" 
                         data-forceCover="1" 
                         data-aspectratio="16:9" 
                         data-autoplay="true" 
                         data-autoplayonlyfirsttime="false" 
                         data-nextslideatend="true">
                    </div>

                    <div class="tp-caption customin customout"
                         data-x="center" 
                         data-y="center"
                         data-hoffset="" 
                         data-voffset="-30"
                         data-speed="500" 
                         data-start="1000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" 
                         data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" 
                         data-splitin="none" 
                         data-splitout="none" 
                         data-elementdelay="0.1" 
                         data-endelementdelay="0.1" 
                         data-endspeed="600">
                        <h3 class="c-main-title-square c-font-55 c-font-bold c-font-center c-font-uppercase c-font-white c-block" style="text-shadow: 2px 2px rgba(0,0,0,0.5);">
                            Davetlilerinizin katılma durumunu<br>hesabınızdan takip edin.
                        </h3>
                    </div>

                    <div class="tp-caption lft"
                         data-x="center"
                         data-y="center" 
                         data-voffset="130"
                         data-speed="900" 
                         data-start="2000" 
                         data-transform_idle="o:1;" 
                         data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;" 
                         data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
                        <a href="@Url.Action("Plan", "Event")" class="c-action-btn btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">Etkinliğinizi Oluşturun</a>
                    </div>
                </li>
                <!--END -->

                <!--BEGIN: SLIDE #4 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                    <img alt=""
                         src="@Url.Content("~/Content/images/Photos/crowd-party-218495.jpg")"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">
                    <div class="tp-caption customin customout"
                         data-x="center"
                         data-y="center"
                         data-hoffset=""
                         data-voffset="-50"
                         data-speed="500"
                         data-start="1000"
                         data-transform_idle="o:1;"
                         data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;"
                         data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="600">
                        <h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block" style="text-shadow: 2px 2px rgba(0,0,0,0.5);">
                            Biz Organize için Yardımcı olalım,<br>Siz de eğlenmeye bakın.
                        </h3>
                    </div>
                    <div class="tp-caption lft"
                         data-x="center"
                         data-y="center"
                         data-voffset="110"
                         data-speed="900"
                         data-start="2000"
                         data-transform_idle="o:1;"
                         data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;"
                         data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;">
                        <a href="@Url.Action("Index","Event")" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">Hemen Başla</a>
                    </div>
                </li>
                <!--END -->  
            </ul>
        </div>
    </div>
</section>
<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->

<!-- BEGIN: LAYOUT/WHY US -->
<div class="c-content-box c-size-lg c-bg-grey-1">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-7">
                    <div class="c-content-feature-5">
                        <div class="c-content-title-1 wow amimate fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                            <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">Neden<br>HEDYO ?</h3>
                            <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                        </div>
                        <div class="c-text wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1;">
                            Etkinliğinize gelecek misafirlerinizin hediyelerini size en kolay şekilde ulaştırabilmelerini sağlıyoruz.
                        </div>
                        <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn" style="visibility: visible; animation-name: fadeIn; opacity: 1;">Dahası...</button>
                        <img class="c-photo img-responsive wow animate fadeInUp" alt="" src="@Url.Content("~/Content/Images/Photos/pexels-photo-313707.jpeg")" style="visibility: visible; animation-name: fadeInUp; opacity: 1;" width="420">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="c-content-accordion-1 c-theme wow animate fadeInRight" style="visibility: visible; animation-name: fadeInRight; opacity: 1;">
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="c-font-bold c-font-uppercase-reset c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            İhtiyaçlarınızın listesini çıkarın
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body c-font-18" style="border:none">
                                        Yüzlerce önceden tanımlanmış hediye arasından neleri istediğinizi seçin, davetlileriniz sizin için alsın.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase-reset c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Davetliler kolayca ödesin
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body c-font-18" style="border:none">
                                        Ödeme hiç bu kadar basit olmamıştır! HEDYO yardımı ile bilgileri kolayca paylaşabilirsiniz!
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase-reset c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Katılamayacakları mahcup etmeyin
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body c-font-18" style="border:none">
                                        Etkinliğinize katılamayacak davetliler mi var? Hedyo hesabınız üzerinden online davetiye gönderin, gelmeseler de size hayırlı olsun hediyelerini gönderebilsinler.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: LAYOUT/WHY US -->
